{% extends 'base.html' %}
{% block body %}

    <div class="row"><div class="col"><h3>Dashboard</h3></div></div>

    <form class="row form-inline">
        <div class="col-auto">
            <div class="form-group">
               <div class="input-group date" id="datetimepicker_start" data-target-input="nearest">
                   <label for="date_start" class="">From</label>
                    <input type="text" id="date_start" class="form-control datetimepicker-input" data-target="#datetimepicker_start" value="{{ date_start }}"/>
                    <div class="input-group-append" data-target="#datetimepicker_start" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
               <div class="input-group date" id="datetimepicker_end" data-target-input="nearest">
                    <input type="text" id="date_end" class="form-control datetimepicker-input" data-target="#datetimepicker_end" value="{{ date_end }}"/>
                    <div class="input-group-append" data-target="#datetimepicker_end" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="btn btn-outline-secondary" id="date_filter">filter</div>
        </div>
    </form>

    <div class="row">
        <div class="col">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>

{% endblock %}

{% block js %}
        <script type="text/javascript">

            var chart = new Highcharts.Chart('container', {
                chart: {
                    type: 'line',
                    events: {
                        load: requestData("{{ date_start }}", "{{ date_end }}")
                    }
                },
                title: {
                    text: 'Exchange Rates'
                },
                xAxis: {
                    categories: null
                },
                yAxis: {
                    title: {
                        text: 'Values'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: "value 1",
                    data: null
                }, {
                    name: "value 2",
                    data: null
                }]
            });

        function requestData(date_start, date_end) {
            $.ajax({
                url: 'currency/',
                type: "GET",
                dataType: "json",
                data : {"date_start" : date_start, "date_end": date_end},
                success: function(data) {
                    chart.series[0].update({data: data["value1"]}, false);
                    chart.series[1].update({data: data["value2"]}, false);
                    chart.xAxis[0].update({categories: data["date_time"]}, true);
                    chart.redraw();
                },
                cache: false
            });
        }

        $("#date_filter").on( "click", function() {
            var date_start = $("#date_start").val();
            var date_end = $("#date_end").val();
            requestData(date_start, date_end);
        });

        $(function () {
            var obj_datetimepicker_start = $('#datetimepicker_start');
            var ob_datetimepicker_end = $('#datetimepicker_end');

            obj_datetimepicker_start.datetimepicker({
                format : 'DD-MM-YYYY HH:mm',
            });
            ob_datetimepicker_end.datetimepicker({
                useCurrent: false,
                format : 'DD-MM-YYYY HH:mm',
            });

            obj_datetimepicker_start.on("change.datetimepicker", function (e) {
                ob_datetimepicker_end.datetimepicker('minDate', e.date);
            });
            ob_datetimepicker_end.on("change.datetimepicker", function (e) {
                obj_datetimepicker_start.datetimepicker('maxDate', e.date);
            });
        });

        </script>
{% endblock %}